---
import Card, { type CardProps } from "./Card.astro";

let projects: CardProps[] = [
  {
    title: "KDE",
    body: "I have contributed to the KDE Community, specifically focusing on KDE Plasma, a Linux desktop environment. One notable task involved implementing user interface enhancements to improve navigability and overall user experience.",
    link: "https://invent.kde.org/engin-karakurt",
    linkTitle: "Visit my KDE GitLab profile",
    skills: ["C++", "Qt", "QML"],
  },
  {
    title: "microbot-launcher-unix",
    body: "I have developed an unofficial, open-source, cross-platform launcher for Microbot, a RuneLite botting client designed for the game Old School RuneScape. This launcher automates client updates and manages versions by removing outdated ones. It also facilitates the automatic launch of the client. Primarily intended for running and updating Microbot on macOS and Linux, where the official Microbot client is not supported, it is also compatible with Windows.",
    link: "https://github.com/enginkarakurt/microbot-launcher-unix",
    linkTitle: "Visit the project repository",
    skills: ["Java"],
  },
];
---

<header>
  <h1>Engin Karakurt</h1>
</header>
<main>
  <hr />
  <section>
    <p>
      I am Engin Karakurt, a Full-Stack Software Developer based in Germany. You
      are welcome to <a href="https://github.com/enginkarakurt"
        >visit my GitHub profile</a
      > and explore my work below.
    </p>
  </section>
  <hr />
  <section>
    <h2>My Work</h2>
    {
      projects.map((project) => (
        <Card
          title={project.title}
          body={project.body}
          link={project.link}
          linkTitle={project.linkTitle}
          skills={project.skills}
        />
      ))
    }
  </section>
</main>
